<div class="row">
  <div class="col-lg-4 col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sit ut eaque
    dolorem! Dignissimos fugit accusamus maxime consectetur ipsum optio eveniet numquam nostrum vel. Sunt accusantium
    rerum earum nemo in!</div>
  <div class="col-lg-4 col-12">Officia eum reprehenderit totam molestiae consequuntur nostrum similique, temporibus
    voluptatem doloribus consequatur, omnis veritatis dolorem beatae molestias aut et minus labore ullam dolores
    dignissimos deserunt deleniti. Facere fugit ipsam laudantium?</div>
  <div class="col-lg-4 col-12">Explicabo impedit debitis neque dolorum dolores, nesciunt suscipit voluptatibus natus,
    adipisci ad voluptas in. Voluptate nostrum magnam rerum quidem, similique dolorum! Animi consequuntur sed porro
    aperiam. Ea rem repellendus quisquam.</div>
</div>
