<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-5 text-center">
      <div class="featured-hero-product w-100">
        <h1 class="mb-2">WOMEN</h1>
        <h4>Sprint Collection</h4>
        <div class="price mt-3 mb-5">
          <strong>1,499</strong> <del>$1,999</del>
        </div>
        <p>
          <a href="#" class="btn btn-outline-primary rounded-0 mr-3"
            >Shop Now</a
          >
          <a href="#" class="btn btn-primary rounded-0">More</a>
        </p>
      </div>
    </div>
    <div class="col-lg-7 align-self-end text-center text-lg-right">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg0.etsystatic.com%2F066%2F1%2F10072525%2Fil_fullxfull.787621658_83wc.jpg&f=1&nofb=1"
        alt="Image"
        class="img-fluid img-1"
      />
    </div>
  </div>
</div>
